textarea{
    margin-bottom: 0;
}
.post-container{
    padding-bottom: 5rem;
}
.post a{
    color: #00f;
}
.post{
    width: 100%;
    background-color: #f5f5f5;
}
.post textarea{
    width: 70%;
    height: auto;
    font-size: 0.8rem;
}
#post{
    background-color: #fff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
#post h1{
    padding-top: 2rem;
    font-weight: 500;
    font-size: 3rem;
}
#post hr{
    margin-bottom: 1rem;
}
#post p{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    font-size: larger;
    color: #333;
    text-align: justify;
}
#post .lead{
    width: 100%;
    font-size: small;
    margin-top: 0;
    font-size: small;
    font-weight: 100;
    color: #d8d4d4;
}
#post img{
    width: 80%;
    margin-top: 1rem;
}
#post ul{
    width: 90%;
    margin-left: 3rem;
    margin-right: auto;
}
#post ul li{
    line-height: 2rem;
}
#post .highlight{
    background-color: moccasin;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
#post #editor{
    width: 90%;
    margin-top: 2rem;   
    margin-left: auto;
    margin-right: auto; 
    box-shadow: none;
    background-color: transparent;
    border: none;
}
#post #editor .card-header{
    background-color: #0F0E14;
    color: #d8d4d4;
}
#post #editor .card-title{
    float: left;
    font-size: medium;
    margin-top: 0.5rem;
}
#post #editor .card-top-btn{
    float: right;
}
#post #editor .card-top-btn button{
    margin-left: 0.5rem;
}
#post #editor .card-body{
    max-height: 500px;
    width: 100%;
    overflow-y: scroll;
}
#post #editor .card-text{
    font-family: monospace;
    font-size: large;
    margin-top: 0;
}
#post #editor .card-footer{
    background-color: #0F0E14;
    color: #d8d4d4;
}
#post #editor a{
    color: #fff;
}
.iframe{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40rem;
    border: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .post h2{
        font-size: 2rem;
    }
    #post{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    #post h1{
        font-size: 2.5rem;
        text-align: justify;
    }
    #post img{
        width: 95%;
    }
    #post #editor .card-title{
        float: none;
        text-align: center;
    }
    #post #editor .card-top-btn{
        float: none;
        margin-left: 12%;
    }
    #post #editor .card-footer .btn{
        width: 100%;
    }
    .iframe{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 30rem;
    }
    
}