@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.dashboard{
    margin: 0;
    padding: 0;
}
.dashboard-right{
    margin: 0;
    padding: 0;
}
.dashboard-left{
    margin: 0;
    padding: 0;
}
.dashboard-left .top-panel{
    margin: 0;
    padding: 0;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #201F29;
    color: #f7f7f7;
}
.dashboard-left .top-panel h1{
    margin-left: 0.6rem;
    margin-top: 0.4rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
}
.dashboard-left .top-panel button{
    margin-right: 1rem;
    border: 0;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    background-color: #66cdaa;
    color: #111;
    font-weight: 600;
}
.dashboard-left .middle-panel{
    margin: 0;
    padding: 0;
    height: 43vh;
    background-color: #ededf4;
}
.dashboard-left .bottom-panel{
    margin: 0;
    padding: 0;
    height: 45vh;
    display: flex;
    flex-direction: column;
    background-color: #201F29;
    color: #f7f7f7;
}
.dashboard-left .bottom-panel h5{
    font-size: 1rem;
    margin-top: 6vh;
    margin-left: 1.3rem;
    color: #ccc;
}
.dashboard-left .bottom-panel button{
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 1.3rem;
    font-weight: 600;
    margin-top: 0.3vh;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 0.8rem;
    cursor: pointer;
}
.dashboard-left .bottom-panel button:focus{
    border: none;
    box-shadow: none;
}


@media (max-width: 575.98px) { 
    .dashboard-left .top-panel{
        height: 5vh;
    }
    .dashboard-left .top-panel h1{
        margin-left: 0.3rem;
        font-size: 1rem
    }
    .dashboard-left .top-panel button{
        margin-right: 0.5rem;
        border: 0;
        padding: 0.3rem 0.5rem;
        font-size: 0.6rem;
    }
    .dashboard-left .middle-panel{
        display: none;
    }
    .dashboard-left .bottom-panel{
        margin: 0;
        height: 5vh;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .dashboard-left .bottom-panel h5{
        display: none;
    }
    .dashboard-left .bottom-panel button{
        margin-left: 0.5rem;
        font-size: 0.8rem;
        width: fit-content;
    }


}


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) { }