.footer{
    margin: 0;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    color: #f7f7f7;
    font-size: 0.8rem;
}
.footer .left-panel{
    flex: 0.3;
    text-align: center;
}
.footer .middle-panel{
    flex: 0.4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer .middle-panel img{
    width: 4%;
    object-fit: contain;
}
.footer .right-panel{
    width: 100%;
    flex: 0.3;
    text-align: center;
}
.footer .right-panel ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center
}
.footer .right-panel li{
    margin-left: 0.3rem;
}

@media (max-width: 575.98px) { 
    .footer{
        flex-direction: column;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        align-items: center;
    }
    .footer .left-panel, .middle-panel, .right-panel{
        margin-bottom: 1rem;
        font-size: 0.7rem;
    }
    .footer .right-panel{
        display: none;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 


 }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) { }