.home{
    width: 100%;
    background-color: #fff;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    overflow-x: hidden;
}
#banner{
    width: 96vw;
    padding: 2vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    color: #fff;
    color: #333;
}
#banner h1{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
}
#banner p{
    width: 80%;
    text-align: justify;
    color: #111;
}
#banner button{
    margin-top: 0.8rem;
    background-color: #1e2124;
    color: #fff;
}
.right-pane img{
    width: 100%;
    object-fit: contain;
    z-index: -1;
}
#tutorials{
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.tutorial{
    width: 100%;
    padding-bottom: 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.tutorial:nth-child(2){
    flex-direction: row-reverse;
}
.tutorial .left-panel{
    flex: 0.6;
    padding: 3rem;
}
.tutorial .left-panel h2{
    font-size: 3rem;
    margin-bottom: 0.9rem;
}
.tutorial .left-panel h5{
    margin-bottom: 1.5rem;
}
.tutorial .left-panel p{
    margin-bottom: 1.3rem;
}
.tutorial .left-panel button{
    background-color: #1e2124;
    color: #fff;
}
.tutorial .right-panel{
    flex: 0.4;
    padding: 3rem;
}
.tutorial .right-panel img{
    width: 90%;
    object-fit: contain;
}
#about-me{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EDF6FD;
}
#about-me .left-panel{
    flex: 0.5;
}
#about-me .right-panel{
    flex: 0.5;
    padding: 3.5rem;
}
#about-me .left-panel img{
    width: 100%;
    object-fit: contain;
}
#about-me .right-panel h4{
    font-size: 2.3rem;
    margin-bottom: 1.7rem;
}
#about-me .right-panel button{
    margin-top: 0.9rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #FABB01;
}

#contact-us{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#contact-us .right-panel{
    flex: 0.5;
}
#contact-us .left-panel{
    flex: 0.5;
    padding: 3.5rem;
}
#contact-us .left-panel form{
    width: 100%;
}
#contact-us .left-panel label{
    margin-bottom: 0.3rem;
}
#contact-us .left-panel input,textarea{
    margin-bottom: 0.7rem;
    resize: none;
}
#contact-us .right-panel img{
    width: 100%;
    object-fit: contain;
}
#contact-us .left-panel h4{
    font-size: 2.3rem;
    margin-bottom: 1.7rem;
}
#contact-us .left-panel button{
    margin-top: 0.9rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #FABB01;
}



@media (max-width: 575.98px) { 

    #banner{
        flex-direction: column;
        height: auto;
        padding-bottom: 10vh;
        padding-left: 1.3rem;
    }
    #banner h1{
        margin-top: 12vh;
        font-size: 2.7rem;
        margin-bottom: 1rem;
    }
    #banner p{
        margin-left: 0.2rem;
        text-align: left;
    }
    #banner .right-pane{
        display: none;
    }
    #tutorials{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .tutorial{
        width: 100%;
        padding-bottom: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .tutorial:nth-child(2){
        flex-direction: column-reverse;
    }
    .tutorial .left-panel{
        flex: 1;
        padding: 1.3rem;
    }
    .tutorial .right-panel{
        flex: 1;
        padding: 1.3rem;
    }
    #about-me{
        flex-direction: column;
    }
    #about-me .right-panel{
        padding: 2rem;
    }
    #about-me .right-panel p{
        font-size: 1rem;
    }
    
    #contact-us{
        flex-direction: column-reverse;
        width: 100%;
    }
    #contact-us .left-panel input,textarea{
        width: 100%;
    }
    #contact-us .left-panel{
        padding: 1rem;
        width: 100%;
        padding: 1.5rem;
        flex: 1;
    }
    #contact-us .right-panel{
        flex: 1;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) { }